<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
	<key>college</key>
    <array>
        <string>Arts and Sciences</string>
        <string>https://www.colorado.edu/artsandsciences/</string>
    </array>
	<key>majors</key>
	<array>
		<string>Anthropology</string>
		<string>Astrophysics</string>
        <string>Chemistry</string>
        <string>Cinema Studies</string>
        <string>English</string>
        <string>Intergrative Physiology</string>
    </array>
</dict>
<dict>
	<key>college</key>
    <array>
        <string>Engineering and Applied Science</string>
        <string>https://www.colorado.edu/engineering/</string>
    </array>
	<key>majors</key>
	<array>
        <string>Aerospace</string>
        <string>Chemical</string>
        <string>Computer Science</string>
        <string>Creative Technology and Design</string>
	</array>
</dict>
<dict>
    <key>college</key>
    <array>
        <string>Media Communication and Information</string>
        <string>https://www.colorado.edu/cmci/</string>
    </array>
    <key>majors</key>
    <array>
        <string>Communication</string>
        <string>Journalism</string>
        <string>Media Studies</string>
    </array>
</dict>
</array>
</plist>
